header {
  height: 80px;
  .container {
    @include flexCenter;

    .logo {
      width: 80px;
      height: 80px;

      img {
        width: 100%;
        margin-top: 10px;
      }
    }

    .main-nav {
      @include flexCenter;

      &__list {
        @include flexCenter;
        list-style-type: none;

        &-item {
          margin-right: 80px;
        }

        &-link {
          text-decoration: none;
          color: #535461;
          font-weight: 700;
        }
      }

      .sign-btns {
        &__login {
          background-color: #229292;
          padding: 14px 32px;
          border: none;
          border-radius: 30px;
          color: #fff;
          font-weight: 700;
          transition: 0.3s ease-out;
          outline: none;
          box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.3);

          &:hover {
            transform: translateY(-1px);
          }

          &:active {
            transform: translateY(1px);
          }
        }

        &__signup {
          border: none;
          background-color: transparent;
          font-weight: 700;
          color: #535461;
          outline: none;
          transition: 0.3s ease-out;

          &:hover {
            color: red;
          }
        }
      }
    }
  }
}
