@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

header {
  height: 80px;
  transition: 0.4s 0.4s cubic-bezier(0.32, 1.74, 1, 0.52);
}

@media (max-width: 767px) {
  header {
    background-color: #535461;
    width: 100%;
    height: 40%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    position: fixed;
    margin-top: -600px;
  }
}

header.open {
  margin-top: 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

@media (max-width: 767px) {
  header .container {
    flex-direction: column;
  }
}

header .container .logo {
  width: 80px;
  height: 80px;
  margin-top: 20px;
}

@media (max-width: 767px) {
  header .container .logo {
    margin: 20px 0;
  }
}

header .container .logo img {
  width: 100%;
}

header .container .main-nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 767px) {
  header .container .main-nav {
    width: 100%;
    height: 30%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

header .container .main-nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

@media (max-width: 767px) {
  header .container .main-nav__list {
    flex-direction: column;
  }
}

header .container .main-nav__list-item {
  margin-right: 80px;
  height: 25px;
  border-bottom: 0px;
  transition: 0.2s 0.3s ease-out;
}

header .container .main-nav__list-item::after {
  content: '';
  width: 0;
  display: block;
  height: 3px;
  background: #229292;
  transition: width 0.3s ease-out;
}

header .container .main-nav__list-item:hover::after {
  width: 100%;
}

@media (max-width: 767px) {
  header .container .main-nav__list-item {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

header .container .main-nav__list-link {
  text-decoration: none;
  color: #535461;
  font-weight: 700;
}

@media (max-width: 767px) {
  header .container .main-nav__list-link {
    color: #fff;
  }
}

@media (max-width: 767px) {
  header .container .main-nav .sign-btns {
    display: flex;
    flex-direction: column;
  }
}

header .container .main-nav .sign-btns__login {
  cursor: pointer;
  background-color: #229292;
  padding: 14px 42px;
  border: none;
  border-radius: 30px;
  color: #fff;
  font-weight: 700;
  transition: 0.3s ease-out;
  outline: none;
  margin-right: 10px;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3);
}

header .container .main-nav .sign-btns__login:hover {
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.3);
}

header .container .main-nav .sign-btns__login:active {
  transform: translateY(1px);
}

@media (max-width: 767px) {
  header .container .main-nav .sign-btns__login {
    margin-right: 0;
  }
}

header .container .main-nav .sign-btns__signup {
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-weight: 700;
  color: #a3a9c7;
  outline: none;
  transition: 0.3s ease-out;
}

header .container .main-nav .sign-btns__signup:hover {
  color: red;
}

@media (max-width: 767px) {
  header .container .main-nav .sign-btns__signup {
    margin-top: 10px;
  }
}

header .hamburger-menu {
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 22;
  display: none;
  width: 35px;
  height: 25px;
  transition: 0.3s ease-in-out;
}

header .hamburger-menu__line--top, header .hamburger-menu__line--middle, header .hamburger-menu__line--bottom {
  height: 3px;
  width: 35px;
  background-color: #229292;
  border-radius: 3px;
  transition: 0.4s ease-in-out;
}

@media (max-width: 767px) {
  header .hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

header .hamburger-menu.open .hamburger-menu__line--top {
  transform: rotateZ(-405deg) translate(-10px, 6px);
}

header .hamburger-menu.open .hamburger-menu__line--middle {
  display: none;
}

header .hamburger-menu.open .hamburger-menu__line--bottom {
  transform: rotateZ(405deg) translate(-9px, -6px);
}

.hero .container {
  height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

@media (max-width: 767px) {
  .hero .container {
    flex-direction: column;
  }
}

.hero__img {
  width: 60%;
  height: 60%;
}

@media (max-width: 767px) {
  .hero__img {
    width: 85%;
  }
}

.hero__img img {
  width: 100%;
  height: 100%;
}

.hero__cont {
  width: 35%;
}

@media (max-width: 767px) {
  .hero__cont {
    width: 80%;
  }
}

.hero__cont-title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 16px;
}

.hero__cont-title span {
  display: block;
}

.hero__cont-desc {
  margin-bottom: 16px;
}

.hero__cont-btn {
  cursor: pointer;
  background-color: #229292;
  padding: 14px 52px;
  border: none;
  border-radius: 30px;
  color: #fff;
  font-weight: 700;
  transition: 0.3s ease-out;
  outline: none;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3);
}

.hero__cont-btn:hover {
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.3);
}

.hero__cont-btn:active {
  transform: translateY(1px);
}

.modal {
  display: none;
}

.modal.open {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  background: linear-gradient(90deg, #020024 0%, #97b1ac 0%, #00d4ff 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal .close-modal-btn {
  font-size: 40px;
  color: #ededed;
  position: absolute;
  right: 40px;
  top: 30px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.modal .close-modal-btn:hover {
  color: #a17ab4;
}

.modal .form__container {
  width: 400px;
  background-color: #f232;
  padding: 30px 30px;
  text-align: center;
  margin: 0 10px;
  border-radius: 10px;
}

.modal .form__container .form {
  display: none;
}

.modal .form__container .form.signin-form.open {
  display: block;
}

.modal .form__container .form.signup-form.open {
  display: block;
}

.modal .form__container .form__title {
  font-family: 'Roboto Mono', monospace;
  margin-bottom: 16px;
  color: #e2e2e2;
  font-size: 30px;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.modal .form__container .form__group {
  margin-bottom: 54px;
  height: 42px;
  position: relative;
  border-radius: 10px 10px 10px 10px;
  transition: 0.3s ease-out;
}

.modal .form__container .form__group-label {
  display: inline-block;
  position: absolute;
  width: 42px;
  height: 42px;
  background-color: salmon;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 0 0 10px;
}

.modal .form__container .form__group-label i {
  color: #e2e2e2;
}

.modal .form__container .form__group-input {
  height: 42px;
  width: 100%;
  padding-left: 50px;
  margin-bottom: 5px;
  font-family: 'Poppins', sans-serif;
  outline: none;
  background-color: #e2e2e2;
  border: none;
  border-radius: 10px 10px 10px 10px;
}

.modal .form__container .form__group-checkbox {
  width: 40px;
  height: 20px;
  appearance: none;
  border-radius: 15px;
  background-color: #c6c6c6;
  outline: none;
  position: relative;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

.modal .form__container .form__group-checkbox:checked {
  background-color: #03a9f4;
}

.modal .form__container .form__group-checkbox::before {
  content: '';
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  left: 0;
  transition: 0.3s ease-out;
}

.modal .form__container .form__group-checkbox:checked::before {
  left: 20px;
}

.modal .form__container .form__group span {
  font-size: 14px;
  margin-left: 10px;
  color: #e8e8e8;
}

.modal .form__container .form__group .text-help {
  font-size: 12px;
  color: red;
}

.modal .form__container .form .has-success {
  box-shadow: 0 3px 3px salmon;
}

.modal .form__container .form__btn {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  border: none;
  width: 100%;
  outline: none;
  font-size: 18px;
  padding: 5px 0;
  border-radius: 10px;
  background-color: salmon;
  cursor: pointer;
  color: #e2e2e2;
  box-shadow: 0px 3px 26px -8px rgba(0, 0, 0, 0.4);
  transition: 0.3s 0.1s ease-in-out;
}

.modal .form__container .form__btn:hover {
  box-shadow: 0px 3px 6px 2px rgba(0, 0, 0, 0.4);
}

.modal .form__container .form .form-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
